@import "styles/variables";

#page-background {
  background-color: $black;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#call-page {
  position: fixed;
  height: 100%;
  width: 100%;

  #session-details, #session-timer {
    color: rgba($white, 0.8);
    position: fixed;
    z-index: 999;
  }

  #session-details {
    left: 30px;
  }

  #session-timer {
    right: 30px;
  }

  #buttons-panel {
    position: fixed;
    z-index: 999;
    right: 30px;
    bottom: 30px;

    display: flex;
    gap: 10px;

    button {
      background-color: rgba($white, 0.4);
      border-color: rgba($white, 0.2);
      border-radius: 50px;
      padding: 10px;
    }

    #buttons-panel-expandable {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      #buttons-panel-content {
        background-color: $white;
        white-space: nowrap;
        height: fit-content;
        padding: 8px 12px;
        border-radius: 5px;
        display: none;
        z-index: 1;
      }

      &:hover #buttons-panel-content {
        display: flex;
      }

    }

  }

  #local-video-container {
    position: fixed;
    bottom: 80px;
    left: 80px;
    z-index: 99;
    width: 400px;
    height: auto;
    object-fit: cover;
    overflow: hidden;

    #local-video {
      width: 15vw;
    }

    @media (max-width: 700px) {
      left: 10px;
      bottom: 10px;

      #local-video {
        width: 50vw;
      }

    }

  }

  #remote-video-container {
    --grid-cols: 1;

    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(var(--grid-cols), 1fr);

    .remote-video {
      height: 100%;
      max-width: 100%;
      object-fit: contain;
    }

    @media (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
    }

  }

  @media (max-width: 700px) {
    position: absolute;
    padding: 0;
  }

}
