#call-page {
  background-color: #505050;
  position: fixed;
  height: 100vh;
  width: 100vw;

  #local-video-container {
    position: fixed;
    bottom: 80px;
    left: 80px;
    z-index: 99;
    width: 400px;
    height: auto;
    object-fit: cover;
    overflow: hidden;

    #local-video {
      width: 15vw;
    }

  }

  #remote-video-container {
    --grid-cols: 1;
    --grid-rows: 1;

    width: 100%;
    height: 100%;
    display: inline-grid;
    justify-items: center;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);

    .remote-video {
      height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }

}
