<script type="module" src="assets/scripts/client.mjs"></script>

<div id="page-background"></div>
<div id="call-page">
  <div id="local-video-container">
    <video id="local-video" autoplay playsinline></video>
  </div>
  <div
    id="remote-video-container"
    *ngIf="getUsersFn() | filterBySrcObject as users"
    [style.--grid-cols]="users | colsByUsers"
  >
    <video
      *ngFor="let user of users"
      [srcObject]="user.srcObject"
      class="remote-video"
      autoplay
      playsinline
    ></video>
  </div>
</div>
